---
import BaseLayout from '../layouts/BaseLayout.astro';
import TextLink from '../components/TextLink.astro';

const foreword = "hi, i'm";
const name = "davis!";
---

<style>
	h1, p {
		padding:0;
		margin:0;
	}

	.foreword {
		font-weight:300;
		font-size:300%;
		padding-bottom: 0%;
	}
	.name {
		font-weight:900;
		font-size: 500%;
	}
	.subtext {
		padding-top:10%;
		font-size:110%;
	}

	@media screen and (min-width: 620px) {
		br {
			display: unset;
		}
	}
</style>

<BaseLayout>
	<h1 class="foreword">{foreword}</h1>
	<h1 class="name">{name}</h1>

	<p class="subtext">
		I am a Filipino <TextLink url="./" text="international student" isBold={true}/>
		based in Kyoto.

		<br class="hide"/>
		an avid <TextLink url="./" text="sinigang eater" isBold={true}/>,
		and a <TextLink url="./" text="scenery catcher" isBold={true}/>.
		
		<br/><br/>
		
		ようこそ 👋
	</p>
</BaseLayout>

