---
import { Image } from 'astro:assets';
/*======== LAYOUT ========*/
import BaseLayout from '../layouts/BaseLayout.astro';
/*======== TYPOGRAPHY ========*/
import Paragraph from '../components/typography/Paragraph.astro';
import Link from '../components/typography/Link.astro';
/*======== ASSETS ========*/
import mePhoto from '../assets/me.JPG'; 
---

<style>
    
    .section {
        margin-top: 1em;
        margin-bottom: 2%;
    }

    .sectiondesc {
        margin-top: 0;
        margin-bottom: 1em;
        display:none
    }

    @media screen and (min-width: 700px) {
        .container {
            margin-top: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 2vw; 
            width: 100%;       
        }
        .container div {
            display:block;
        }
        .sectiondesc {
            display:block;
        }
    }
</style>

<BaseLayout siteTabText="me">
    
    <div class="mb-8 flex flex-col sm:flex-row items-center justify-center gap-4">
        <Image 
            src={mePhoto}
            width={200}
            alt="me photo"
            class="rounded-full"
        />
        <div class="flex-col">
            <h1 class="text-4xl sm:text-5xl font-bold text-center sm:text-left
                        bg-gradient-to-l from-flamingo to-peach text-transparent bg-clip-text">
                Davis Nicholo <br> Magpantay
            </h1>
            <h1 class="text-lg sm:text-xl mt-2 font-bold text-center sm:text-left
                        bg-gradient-to-l from-flamingo to-peach text-transparent bg-clip-text">
                <i>デイヴィス・ニコロ・<br class="hidden sm:inline md:hidden">マグパンタイ</i>
            </h1>
        </div>
    </div>

    <div class="flex justify-center">
        <div class="max-w-144 flex-col">
            <Paragraph>
                I'm a Filipino <Link href="/me/">international student</Link> based in Japan,
                an avid <Link href="/thoughts/"><i>sinigang</i> eater</Link>, and a hobbyist 
                <Link href="/photos/">scenery catcher</Link>.
            </Paragraph>

            <Paragraph>
                As a 1st year Chemical Engineering undergrad at
                <Link href="https://www.kyoto-u.ac.jp/en">Kyoto University (京都大学)</Link> supported by
                <Link href="https://www.iup.kyoto-u.ac.jp/">Kyoto iUP</Link> and the
                <Link href="https://www.mgc.co.jp/foundation/eng/">Mitsubishi Gas Chemical Memorial Foundation</Link>,
                I'm diving into the intersection of materials and computation. I've previously
                <Link href="/tinker/">dabbled</Link> on projects that span chemistry-related software. engineering, and even math modeling.
            </Paragraph>

            <Paragraph>
                For more details, feel free to check out my 
                <Link href="https://docs.google.com/document/d/1KXJEWt627nFji5kxMUQj4V-VpzK9vBnUJcHAE78RGC0/edit?usp=sharing">resume</Link>.
            </Paragraph>

        </div>
        
    </div>
    
   

<!--

    <h2 class="bold section">engineering_</h2>
    <p class="sectiondesc justify">
        As someone in the engineering discipline, I have had some fun projects past. Here are my picks:
    </p>
    <div class="container">
        {enggPosts.map((post:any)=>(
            <Tab title={post.frontmatter.title} subtitle={post.frontmatter.subtitle} route={post.url} thumbnail={post.frontmatter.image.url}/>
        ))}
    </div>
    

    <h2 class="bold section">code_</h2>
    <p class="sectiondesc justify">
        One of my greatest joys lie in digital stuff.
        These are some work that I am particularly proud of:
    </p>
    <div class="container">
        {codePosts.map((post:any)=>(
            <Tab title={post.frontmatter.title} subtitle={post.frontmatter.subtitle} route={post.url} thumbnail={post.frontmatter.image.url}/>
        ))}
    </div>

    <h2 class="bold section">papers_</h2>
    <p class="sectiondesc justify">
        I also co-wrote several papers, primarily for math modeling contests or course-related research.
        Here are the notable ones:
    </p>
    <div>
        {papersPosts.map((post:any, index:number)=>(
            <PaperTab paper={post.frontmatter} index={index}>
                <post.default />
            </PaperTab>
        ))}
    </div> -->

</BaseLayout>

