---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import TextLink from '../components/TextLink.astro';
import Tab from '../components/Tab.astro';
import PaperTab from '../components/PaperTab.astro';

const allContent = Object.values(import.meta.glob('./me/*.md', { eager: true }));
const codePosts = allContent.filter((post: any) => post.frontmatter.tags.includes("code"));
const enggPosts = allContent.filter((post: any) => post.frontmatter.tags.includes("engineering"));
const papersPosts = Object.values(import.meta.glob('./me/papers/*.md', {eager:true}));
---

<style>
    
    .section {
        margin-top: 1em;
        margin-bottom: 2%;
    }

    .sectiondesc {
        margin-top: 0;
        margin-bottom: 1em;
        display:none
    }

    @media screen and (min-width: 700px) {
        .container {
            margin-top: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px; 
            width: 100%;       
        }
        .container div {
            display:block;
        }
        .sectiondesc {
            display:block;
        }
    }
</style>

<BaseLayout pageTitle="me">
    <h2 class="title">知り合う</h2>
    <h1 class="title">meet, me!</h1>
    
    <p class="foreword justify">
        My name is Davis Nicholo A. Magpantay...
        which is quite long, so I simply go by <i>Davis</i>.
        
        <br><br>
        
        I graduted from <TextLink text="Pisay-Main" url="https://en.wikipedia.org/wiki/Philippine_Science_High_School_Main_Campus"isBold={false} /> in 2024
        and am now studying at <TextLink text="Kyoto University 京都大学" url="https://www.kyoto-u.ac.jp/en" isBold={false} />
        as an <TextLink text="iUP scholar" url="https://www.iup.kyoto-u.ac.jp/" isBold={false}/>. This April (2025), I'm entering the University's
        Department of Chemical Science and Technology.        

        <br><br>

        I've compiled some cool things I've done on this page.
        For more details, feel free to check out my 
        <TextLink text="resume" url="https://docs.google.com/document/d/1KXJEWt627nFji5kxMUQj4V-VpzK9vBnUJcHAE78RGC0/edit?usp=sharing"/>
    </p>


    <h2 class="bold section">engineering_</h2>
    <p class="sectiondesc justify">
        As someone in the engineering discipline, I have had my fair share of past encounters with practical projects.
        Here are some I enjoyed working on in the past:
    </p>
    <div class="container">
        {enggPosts.map((post:any)=>(
            <Tab title={post.frontmatter.title} subtitle={post.frontmatter.subtitle} route={post.url} thumbnail={post.frontmatter.image.url}/>
        ))}
    </div>
    

    <h2 class="bold section">code_</h2>
    <p class="sectiondesc justify">
        One of my greatest joys lie in digital stuff.
        These are some work that I am particularly proud of:
    </p>
    <div class="container">
        {codePosts.map((post:any)=>(
            <Tab title={post.frontmatter.title} subtitle={post.frontmatter.subtitle} route={post.url} thumbnail={post.frontmatter.image.url}/>
        ))}
    </div>

    <h2 class="bold section">papers_</h2>
    <p class="sectiondesc justify">
        I also co-wrote several papers, primarily for math modeling contests or course-related research.
        Here are the notable ones:
    </p>
    <div>
        {papersPosts.map((post:any, index:number)=>(
            <PaperTab paper={post.frontmatter} index={index}>
                <post.default />
            </PaperTab>
        ))}
    </div>

</BaseLayout>

