---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import TextLink from '../components/TextLink.astro';
import Tab from '../components/Tab.astro';

const allContent = Object.values(import.meta.glob('./me/*.md', { eager: true }));
const codePosts = allContent.filter((post: any) => post.frontmatter.tags.includes("code"));
const enggPosts = allContent.filter((post: any) => post.frontmatter.tags.includes("engineering"));
const papersPosts = allContent.filter((post: any) => post.frontmatter.tags.includes("paper"));
---

<style>
    
    .section {
        margin-top: 5%;
        margin-bottom: 2%;
    }

    @media screen and (min-width: 636px) {
        .container {
            margin-top: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 10px; 
            width: 100%;       
        }
        .container div {
            width: 50%;
            display:block;
        }
    }
</style>

<BaseLayout pageTitle="me">
    <h2 class="title">知り合う</h2>
    <h1 class="title">meet, me!</h1>
    
    <p class="foreword justify">
        My name is Davis Nicholo A. Magpantay...
        which is quite long, so I simply go by <i>Davis</i>.
        
        <br><br>
        
        I graduted from <TextLink text="Pisay-Main" url="https://en.wikipedia.org/wiki/Philippine_Science_High_School_Main_Campus"isBold={false} /> last 2024
        and am now studying at <TextLink text="Kyoto University 京都大学" url="https://www.kyoto-u.ac.jp/en" isBold={false} />
        as an <TextLink text="iUP scholar" url="https://www.iup.kyoto-u.ac.jp/" isBold={false}/>. This April 2025, I'm entering the University's
        工学部理工科学科 (Faculty of Engineering, Department of Chemical Science and Technology).        
    </p>

    <h2 class="bold section">code_</h2>
    <div class="container">
        {codePosts.map((post:any)=>(
            <Tab title={post.frontmatter.title} subtitle={post.frontmatter.subtitle} route={post.url} thumbnail={post.frontmatter.image.url}/>
        ))}
    </div>

    <h2 class="bold section">engineering_</h2>
    <div class="container">
        {enggPosts.map((post:any)=>(
            <Tab title={post.frontmatter.title} subtitle={post.frontmatter.subtitle} route={post.url} thumbnail={post.frontmatter.image.url}/>
        ))}
    </div>
    
    <h2 class="bold section">papers_</h2>
    <div class="container">
        {papersPosts.map((post:any)=>(
            <Tab title={post.frontmatter.title} subtitle={post.frontmatter.subtitle} route={post.url} thumbnail={post.frontmatter.image.url}/>
        ))}
    </div>

</BaseLayout>

