---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import ThoughtsTab from '../components/ThoughtsTab.astro';
// import allContent from './thoughts/publish.json';

const allContent = Object.values(import.meta.glob('./thoughts/*.md', { eager: true }));
---

<style>
    .container {
        margin-top:5%;
    }
    .container a {
        cursor: pointer;
    }
    .subtitle {
        margin-bottom: 2em;
    }
</style>

<BaseLayout pageTitle="thoughts">
    
    <h2 class="nomargin bold">理由</h2>
    <h1 class="nomargin bold">bites and bonds</h1>
    
    <p class="subtitle"><i>food recipes, shower thoughts, and everything in between.</i></p>

    <div class="container">
        {
        allContent.map((post:any)=>(
            // <ThoughtsTab url={post.url} title={post.title} subtitle={post.subtitle} pubDate={post.pubDate} tags={post.tags}/>
            <ThoughtsTab url={post.url} frontmatter={post.frontmatter}/>
        ))}
    </div>    

</BaseLayout>

