---
import { Image } from 'astro:assets';
import BaseLayout from './BaseLayout.astro';
import Prose from '../components/Prose.astro';

const { frontmatter } = Astro.props;
const returnMessage = "<<";

let scale = frontmatter.image.scale;
let width = frontmatter.image.width * scale;
let height = frontmatter.image.height * scale;
---
<style>
    .return {
        color: var(--mainred);
        font-weight:bold;
        cursor: pointer;
    }
    .return:hover {
        color: var(--bgwhite);
    }

    .item {
        margin-top: 5%;
    }

    .right {
        justify-content: center;
        align-items: center; 
        text-align: center;
    } 

    .melink {
        border: 1px solid var(--mainred);
        color: var(--mainred);
        border-radius:1000px;
        margin-bottom:5%;
        padding:10px 20px;
        display: inline-block;
        cursor: ne-resize
    }
    .melink:hover {
        background-color:var(--mainred);
        color:var(--bgwhite);
        border: 0px;
    }


    Image {
        float:right;
    }

    .right img {
        max-width: 500px;
        width: 90%;
        height: auto; 
        display: block; 
        margin-bottom: 1em;
    }

    @media screen and (min-width: 800px) {
        .container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        .item {
            box-sizing: border-box;
            max-width: 50%;
        }
        .right {
            margin-left:auto;
        }
    }

</style>

<BaseLayout pageTitle = {frontmatter.title}>
    <p class="nomargin noselect"><a class="return" href="/me/">{returnMessage}</a></p>
    <div class="container">
        <div class="item">
            <Prose>
                <slot/>
            </Prose>
        </div>
        <div class="right item">
            <Image src={frontmatter.image.url} alt={frontmatter.image.alt} width={width} height={height}/>
            <p>
                {frontmatter.linkText && <a href={frontmatter.externalURL} target="_blank" class="melink noselect floating">{frontmatter.linkText}</a>}
            </p>
        </div>
    </div>
</BaseLayout>

