---
import '../styles/global.css';
import BaseLayout from './BaseLayout.astro';
import Prose from '../components/Prose.astro';
const { frontmatter } = Astro.props;

const returnMessage = "<<";
---
<style>
    .return {
        color: var(--mainred);
        font-weight:bold;
        cursor: pointer;
    }
    .return:hover {
        color: var(--bgwhite);
    }
    .title {
        font-weight:bold;
    }
    .pubdate {
        margin-bottom:0;
    }
    .subtitle {
        color: var(--mainred);
        font-style: italic;
        margin-top:0px;
        margin-bottom:2em;
    }

</style>

<BaseLayout pageTitle = {frontmatter.title}>
    <p class="nomargin noselect"><a class="return" href="/thoughts/">{returnMessage}</a></p>

    <div class="flex-col mt-4 items-center">
        <p class="italic !mb-10 text-left">{frontmatter.pubDate}</p>
        <h1 class="text-4xl sm:text-5xl text-flamingo title nomargin">{frontmatter.title}</h1>
        <p class="text-base italic !mb-16">{frontmatter.subtitle}</p>
        
        <Prose>
            <slot />
        </Prose>
    </div>
</BaseLayout>