---
import { Image } from 'astro:assets';
import BaseLayout from './BaseLayout.astro';
import Prose from '../components/Prose.astro';

const { frontmatter } = Astro.props;
const returnMessage = "<<";

let scale = frontmatter.image.scale;
let width = frontmatter.image.width * scale;
let height = frontmatter.image.height * scale;
---
<style>
    .return {
        color: var(--mainred);
        font-weight:bold;
        cursor: pointer;
    }
    .return:hover {
        color: var(--bgwhite);
    }
    .melink {
        border: 1px solid var(--flamingo);
        color: var(--flamingo);
        margin-bottom:5%;
        display: inline-block;
        cursor: ne-resize
    }
    .melink:hover {
        background-color:var(--mainred);
        color:var(--bgwhite);
        border: 0px;
    }

    @media screen and (min-width: 800px) {
        /* .container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
        .item {
            box-sizing: border-box;
            max-width: 50%;
        }
        .right {
            margin-left:auto;
        } */
    }

</style>

<BaseLayout pageTitle = {frontmatter.title}>
    <p class="nomargin noselect"><a class="return" href="/tinker/">{returnMessage}</a></p>
    <div class="flex flex-col md:flex-row justify-around">
        <div class="flex md:max-w-[50%] flex-col">
            <Prose>
                <slot/>
            </Prose>
        </div>
        <div class="flex flex-col items-center">
            <Image src={frontmatter.image.url} alt={frontmatter.image.alt} width={width} height={height}/>
            <div class="mt-4 p-2 rounded-xl noselect floating border-1 text-flamingo hover:text-bg1 hover:bg-flamingo">
                <p>{
                frontmatter.linkText != ""
                && 
                <a href={frontmatter.externalURL} target="_blank">{frontmatter.linkText}</a>
                }</p>
            </div>
        </div>
    </div>
</BaseLayout>

